<header class="header">
    <h1 class="header-heading">
      <a href="{% url 'contact:index' %}" class="header-link">
        {{ site_title }} - Agenda
      </a>
    </h1>

    <nav class="menu">
      <ul class="menu-list">
        {% if user.is_authenticated %}
        <li class="menu-item">
          <a href="{% url 'contact:create' %}" class="menu-link">
            Adicionar um novo contato
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'contact:create' %}" class="menu-link">
            Atualizar agenda
          </a>
        </li>
        {% else %}
        <li class="menu-item">
          <a href="{% url 'contact:login' %}" class="menu-link">
            Login
          </a>
        </li>
        <li class="menu-item">
          <a href="{% url 'contact:register' %}" class="menu-link">
            Cadastrar
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>

    <div class="search">
      <form 
        action="{% url 'contact:search' %}" 
        method="get"
      >
        <input 
          type="search" 
          class="search-input"
          placeholder="Search"
          id="search"
          name="q"
          value="{{ request.GET.q.strip }}"
        >
      </form>
    </div>
</header>