{% extends "global/base.html" %}
{% block content %}
<div class="form-wrapper">
    <h2>Contato</h2>

    <form 
    action="{{ form_action }}"
      method="POST"
      enctype="multipart/form-data"
    >
        {% csrf_token %}
        {% for field in form %}
            <div class="form-content">
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
              </div>
            </div>

        {% if form.non_field_errors %}
          <div class="form-content">
            <div class="form-group">
              <div class="message error">
                {{ form.non_field_errors }}
              </div>
            </div>
          </div>
        {% endif %}

          {% if field.name == 'picture' and field.value.url %}
            <div class="form-group">
              <img src="{{ field.value.url }}" alt=""></img>
            </div>
          {% endif %}
        {% endfor %}
        
        <div class="form-content">
          <div class="form-group">
            <button class="btn" type="submit">Salvar</button>
          </div>
        </div>
    </form>
  </div>
{% endblock content %}